* {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif;
}

/* Nav bar */
.navbar img {
  border-radius: 15px;
}

.navbar-custom {
  background-color: grey;
}

.navbar-custom li a {
  color: white;
}
/* Fin Nav bar */

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: grey;
  color: white;
  padding: 30px;
}

footer .icon {
  width: 20px;
  height: 20px;
}

footer a {
  color: white;
}

.footer-logo {
  width: 100vw;
  text-align: center;
}
footer div {
  margin: 15px;
}

footer img {
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 0;
  }

  footer .mapa {
    width: 90vw;
  }
}

/* End footer */
