// Include any default variable overrides here (though functions won't be available)
$font-family: Cabin, sans-serif;

$background-light: rgb(217, 217, 217);

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

@import './complements/_variables.scss';
@import './complements/mixins';
@import './pages/_404.scss';
@import './pages/_contacto.scss';
@import './pages/_galeria.scss';
@import './pages/_index.scss';
@import './pages/_servicios.scss';
@import './pages/_sobrenosotros.scss';
@import './componentes/footer.scss';
@import './componentes/navbar.scss';
@import './complements/_loop.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

* {
  margin: 0;
  padding: 0;
  font-family: Cabin, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}
/* Nav bar */

.navbar img {
  border-radius: 15px;
}

.navbar-custom {
  background-color: rgba(68, 68, 68, 0.7);
  backdrop-filter: blur(12px);
  position: fixed !important;
  top: 0 !important;
  z-index: 99999;
  width: 100%;
  li a {
    color: white;
  }
}
/* Fin Nav bar */

/* Footer */

footer {
  display: flex;
  position: static;
  bottom: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 30px;
  a {
    color: white;
  }
  div {
    margin: 15px;
  }
  img {
    border-radius: 15px;
  }
  icon {
    width: 20px;
    height: 20px;
  }
  footer-logo {
    width: 100vw;
    text-align: center;
  }
}

.navbar a:hover {
  color: #c1b5b5 !important;
  outline-style: hidden !important;
  outline: none !important;
}

footer a:hover {
  color: rgb(213, 220, 250) !important;
  outline-style: hidden !important;
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 0;
  }

  footer .mapa {
    width: 90vw;
  }
}

/* End footer */

//   Mobile view

@media only screen and (max-width: 600px) {
  footer {
    padding: 0;
  }

  footer .mapa {
    width: 90vw;
  }
}

.title {
  font-weight: 700;
  font-size: 2rem;
}
.sub-title {
  font-weight: 700;
  font-size: 1.5rem;
}

@include media-breakpoint-up(md) {
  .title {
    font-weight: 700;
    font-size: 5rem;
  }
  .sub-title {
    font-weight: 700;
    font-size: 2rem;
  }
}
