// Include any default variable overrides here (though functions won't be available)
$font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
  sans-serif;
$secondary: grey;

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

@import './pages/_404.scss';
@import './pages/_contacto.scss';
@import './pages/_galeria.scss';
@import './pages/_index.scss';
@import './pages/_servicios.scss';
@import './pages/_sobrenosotros.scss';
@import './componentes/footer.scss';
@import './componentes/navbar.scss';
@import './complements/_loop.scss';
@import './complements/_variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

* {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif;
}

/* Nav bar */
.navbar img {
  border-radius: 15px;
}

.navbar-custom {
  li a {
    color: white;
  }
}
/* Fin Nav bar */

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: grey;
  color: white;
  padding: 30px;
  a {
    color: white;
  }
  div {
    margin: 15px;
  }
  img {
    border-radius: 15px;
  }
  icon {
    width: 20px;
    height: 20px;
  }
  footer-logo {
    width: 100vw;
    text-align: center;
  }
}

footer a:hover {
  color: #2f2b2b !important;
  outline-style: hidden !important;
  outline: none !important;
}


@media only screen and (max-width: 600px) {
  footer {
    padding: 0;
  }

  footer .mapa {
    width: 90vw;
  }
}

/* End footer */

//   Mobile view

@media only screen and (max-width: 600px) {
  footer {
    padding: 0;
  }

  footer .mapa {
    width: 90vw;
  }
}
