  //   Pagina de contacto

  .contact-page {
    background: rgb(240, 241, 233);
    background: radial-gradient(
      circle,
      rgba(240, 241, 233, 1) 0%,
      rgba(200, 203, 197, 1) 45%,
      rgba(242, 243, 242, 1) 81%,
      rgba(244, 246, 252, 1) 100%
    );
    background-size: auto;
    background-position: center;
    width: 100%;
    padding: 30px;
  }
  

  .contact-page form {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }

  