.section1 {
  background-image: url('../../imagenes/bentley.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
&_home_text {
  text-align: center;
  color: white;
  mix-blend-mode: screen;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  height: 80vh;
  font-size: 4rem;
  font-weight: 700;
}
}
// seccion de servicios
.sub-title {
  margin: 25px;
}

.text-center .card {
  height: 98%;
}

.image-diseno {
  box-shadow: 3px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 17px -3px rgba(0, 0, 0, 0.75);
}

.diseno-a-medida-img {
  background-image: url('../../imagenes/diseno-harley.jpg');
  height: 700px;
  background-size: cover;
}

@include media-breakpoint-up(lg) {
  .diseno-a-medida-img {
    height: 100%;
  }
}

.seccion-carousel {
  &-image-1{
  height: 80vh;
  background-image: url('../../imagenes/peugeot-bronco.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}
&-image-2 {
  height: 80vh;
  background-image: url('../../imagenes/interior-yate.jpg');
  background-size: cover;
  z-index: 0;
}
&-image-3 {
  height: 80vh;
  background-image: url('../../imagenes/moto-harley-davinson.jpg');
  background-size: cover;
  background-position: 88%;
  z-index: 0;
}
}