

  .section1 {
    background-image: url('../../imagenes/bentley.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
  }

.home_text {
    text-align: center;
    color: whitesmoke;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    width: 100vw;
    height: 80vh;
  }

  .carousel-image-1{
    height: 80vh;
    background-image: url('../../imagenes/peugeot-bronco.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .carousel-image-2{
    height: 80vh;
    background-image: url('../../imagenes/interioryate.jpg');
    background-size: cover;
    z-index: 0;
  }

  .carousel-image-3{
    height: 80vh;
    background-image: url('../../imagenes/MotoHarley-Davinson.jpg');
    background-size: cover;
    background-position: 88%;
    z-index: 0;
  }

  
