//   Sobre Nosotros

.sobre-nosotros img {
  width: 100%;
}

.sobre-nosotros {
  text-align: start;
  text-align: justify;
}

.sobre-nosotros-header {
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 5%,
      rgb(189, 189, 189)
    ),
    url('../../imagenes/tapiceria-coche-asientos.jpg');

  background-color: #b1b8bd;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  &-h2 {
    margin-top: 30px;
  }
}
.sobre-nosotros-header .page-title {
  top: 250px;
  left: 50px;
  position: absolute;
  font-weight: 700;
  font-size: 5rem;
  color: rgb(0, 0, 0);
}

.sobre-nosotros a {
  padding: 5px;
  margin: 5px;
}

.sobre-nosotros .texto-1 {
  padding: 40px;
}

.sobre-nosotros .imagen-1 {
  background-image: url('../../imagenes/dueno-de-la-fabrica.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 800px;
}
.sobre-nosotros .texto-2 {
  padding: 40px;
}

.sobre-nosotros .imagen-2 {
  background-image: url('../../imagenes/volante-en-marronjpg.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 800px;
}

.sobre-nosotros .texto-3 {
  padding: 40px;
}

.sobre-nosotros .imagen-3 {
  background-image: url('../../imagenes/vw.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 800px;
}

.sobre-nosotros-button-padding-1 {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .sobre-nosotros-header {
    height: 250px;
    color: black;
  }
  .sobre-nosotros-header .page-title {
    top: 150px;
    left: 20px;
    position: absolute;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }
}

//   End sobre nosotros
