//   Sobre Nosotros

.sobre-nosotros img {
    width: 100%;
  }
  
  .sobre-nosotros h2 {
    margin-top: 30px;
  }
  
  .sobre-nosotros {
    text-align: center;
  }
  
  .sobre-nosotros-header {
    background-image: url('../../imagenes/tapiceria-coche-asientos.jpeg');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    color: white;
  }
  
  .sobre-nosotros a {
    padding: 5px;
    margin: 5px;
  }

//   End sobre nosotros

